{# Results #}

{% extends "templates/app.twig" %}

{% block title %}Search results for {{ query }}...{% endblock %}

{% block content %}

    <div class="container" id="results">

        {% if query %}

            <div class="row w-100 p-0 m-auto justify-content-center">
                <div class="col-12 text-center">
                    <p class="h4 font-weight-bold">Search results for {{ query }}...</p>
                </div>
            </div>

        {% endif %}

        {% if results %}

            <div class="row w-100 p-0 m-auto justify-content-center">

                {# RESULTS #}
                {% for mov in results %}

                    {% include "templates/partials/card.twig" %}

                {% endfor %}

            </div>

        {% else %}

            <div class="row w-100 p-0 m-auto justify-content-center">
                <div class="col-12 text-center">
                    <p class="h4 font-weight-bold">Error!</p>
                    <p>Nothing to search for...</p>
                </div>
            </div>

        {% endif %}

    </div>

{% endblock %}
